# LaTeX intermediate files
*.aux
*.bbl
*.blg
*.brf
*.fls
*.fdb_latexmk
*.synctex.gz
*.toc
*.lof
*.lot
*.out
*.nav
*.snm
*.vrb
*.log
*.spl
*.zip

# Editors
*~
*.swp
*.swo
*.bak
*.backup

# MacOS
.DS_Store

# Output files (optional)
#*.pdf

# Manuall set for this only
unused/
